<div class="feature" style="display: inline-flex; flex-direction: column; align-items: center; text-align: center; vertical-align: top; width: 260px; margin: 20px;">
  <a class="feature-image" aria-label="feature link" style="display: block; margin-bottom: 0.8rem;">
    <img
      src="{{ include.image | relative_url }}"
      alt="{{ include.title | default: "feature image" }}"
      {% include fallback.html %}
    >
  </a>

  <div class="feature-text">
    {{ include.text | markdownify }}
  </div>
</div>